* {
  padding: 0px;
  margin: 0px;
}
.komla {
  height: 100vh;
  display: flex;
  background-color: antiquewhite;
  width: 1920px;
  height: 850px;
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  align-items: center;
  text-align: center;
}
.parent {
  margin-bottom: 50px;
  padding-right: 300px;
  font-size: 40px;
  align-content: baseline;
}
.flower {
  justify-content: end;
  margin-bottom: -50px;
}
.small-font {
  margin-top: 10px;
  padding: 20px;
  font-size: 20px;
}
.btn {
  padding: 15px;
  width: 150px;
  background: #e55473;
  -webkit-text-fill-color: aliceblue;
  font-size: 20px;
}

.second-pera {
  position: absolute;
  padding: 40px;
}
.flowers-text {
  display: center;
  margin-top: 80px;
  margin-bottom: -80px;
}
.featured {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.three-flower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 800px;
  margin: 10px;

  .card {
    margin: 10px;
  }
}
.pink {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
  flex-shrink: 0;
}
.pinki {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
  flex-shrink: 0;
}
.pinku {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
}

.folower-name {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 30px;
  color: #e55473;
}
.third-pera{
  
  width: 1920px;
  height: 850px;


}